---
import Layout from "../../layouts/Layout.astro";
import type { IVideoGame } from "../../types/videogame";

export async function getStaticPaths() {
    const gamesResponse = await fetch(
       "https://www.freetogame.com/api/games?platform=pc&category=mmorpg",
    );
    const parsedGames: IVideoGame[] = await gamesResponse.json();
    
    return parsedGames.map((item) => ({
        params: {
            game: `${item.id}`,
        },
    }));
}

const { game } = Astro.params;

const gameResp = await fetch(`https://www.freetogame.com/api/game?id=${game}`);
const parsedGame: IVideoGame = await gameResp.json();

---

<Layout slot="despues" title={parsedGame.title}>
    <div class="mt-6 mr-auto ml-auto list-width">
        <h3 class="text-3xl">
            {parsedGame.title}
        </h3>
        <a href={`/${parsedGame.game_url}`} target="_blank">
            Ir al juego: {parsedGame.game_url}
        </a>
        <p>
            {parsedGame.description}
        </p>
        <p class="text-sm">
            {parsedGame.release_date}
        </p>
    </div>
</Layout>

<style>
    .list-width {
        width: 750px;
    }
</style>
